DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/secure_login_db

APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=YOUR_APPWRITE_PROJECT_ID
APPWRITE_BUCKET_ID=YOUR_APPWRITE_BUCKET_ID